@model ShopWatches.Models.Categories_Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">Categories</a></li>
                            <li class="active">Create</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content">
        <div class="animated fadeIn">

            <div class="row">

                <div class="col-xs-12 col-sm-12">
                    @Html.Partial("_MessgeAlert")
                    <div class="card">
                        <div class="card-header">
                            <b>Categories_Product</b>
                            <div style="float: right">
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label class=" form-control-label">Catagory</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    @Html.DropDownList("CategoriesID", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.CategoriesID, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label">Product</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-star-o"></i></div>
                                    @Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <button type="submit" value="Create" class="btn btn-outline-success">Add new</button>&nbsp;
                            <button type="reset" class="btn btn-outline-warning">Reset</button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- .animated -->
    </div>
}


